.btn {
    cursor: pointer;
    font-weight: 400;
    transition: background-color 0.2s ease;
    line-height: 100%;
    border-radius: 0.5rem;
}

/* Container and Treatment */
.btnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: fit-content;
    position: relative;
}

.btnContainerfullWidth {
    width: 100%; /* Fill available width when this class is added */
}
   
/* Button Sizes */
.btn-lg {
    /* border-radius: 0.5rem; */
    font-size: 1rem;
    padding: 0.875rem 1.125rem;
}

.btn-rounded {
    padding: 0.5rem 14px;
    border-radius: 9999px;
}
       
/* Button Variants */
.btn-primary {
    background: var(--color-neutral-100, #FEFEFE);
    color: var(--color-neutral-800);

    &:hover {
        background-color: var(--color-neutral-300, #F0F0F0);
    }
}

.btn-secondary {
    background: var(--color-neutral-700);
    color: var(--color-neutral-100);

    &:hover {
        /* background-color: var(--color-neutral-600); */
        opacity: 0.9;
    }
}

.btn-tertiary {
    color: var(--neutral-300, #E0E0E0);
    font-family: "Lexend Deca";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.64px;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-skip-ink: auto;
    text-decoration-color: var(--neutral-neutral-600, #757575);
    text-decoration-thickness: 6.5%; /* 1.04px */
    text-underline-offset: 20.5%; /* 3.28px */
    text-underline-position: from-font;
}

.btn-icon {
    background-color: var(--neutral-700);
    padding: .50rem;
    border-radius: 100%;

    &:hover {
        /* background-color: var(--color-neutral-600); */
        opacity: 0.9;
    }
}